*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary:#6c63ff;
  --color-cuccess:#00bf8e;
  --color-warning:#f7c94b;
  --color-danger:#f75842;
  --color-danger-variant:rgba(247,88,66,0.4);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.7);
  --color-black:#000;
  --color-bg:#1f2641;
  --color-bg1:#2e3267;
  --color-bg2:#424890;
   
  --container-width-lg:80%;
  --container-width-md:96%;
  --container-width-sm:94%;

  --transition: all 400ms ease;

  --primary-color: #12c2b9;
--secondary: #dbfffe;
--black: #141414;
--white: #fff;
--box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1)

}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100%;
  background: gray;
  background-size: cover;
  background-position: center;
}

.container{
  width:var(--container-width-lg);
  margin: 0 auto;
}

section{
  padding: 6rem 0;
}

section h2{
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4, 
h5{
line-height: 1.2;
}

h1{
  font-size: 2.4rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.6rem;
}

h4{
  font-size: 1.3rem;
}

a{
  color:var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit:coter;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: #000;
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color:var(--color-white);
  border-color: var(--color-white);
}

.btn-primary{
  background: var(--color-primary);
  color:var(--color-white);
}

/* ========================= NAVBAR=================*/
nav{
  background:transparent;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}
/* change nav style on scroll using java*/


.nav__container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button{
  display: none;
}
.nav__menu{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav__menu a{
  font-size: 0.9rem;
  transition: var(--transition)
}

.nav__menu a:hover {
  color: var(--color-bg2);
}

/* ========================= Hearder=================*/
header{
  position: relative;
  top: 5rem;
  overflow: hidden;
  height: 70vh;
  margin-bottom: 5rem;
  background: url(../images/home.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  

}

.header__container{
  display: flex;
  align-items: center;
}


.header__right p{
  height: 100%;
  top: 1rem;
  margin: 1rem 4 5.6rem;
}

.nav__buttons{
  padding: 5rem;
  display: flex;
  gap: 2rem;
}

.post{
  background-color: var(--color-light);
  display: inline-block;
  background: var(--color-light);
  color: #000;
  padding: 1rem 6rem;
  border: 3px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
.nav__buttons :hover{
  background: transparent;
  color:var(--color-bg);
  border-color: var(--color-white);
  cursor: pointer;
}

.answer{
  background-color: var(--color-light);
  display: inline-block;
  background: var(--color-light);
  color: #000;
  padding: 1rem 6rem;
  border: 3px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
.ask{
  background-color: var(--color-light);
  display: inline-block;
  background: var(--color-light);
  color: #000;
  padding: 1rem 6rem;
  border: 3px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}
